.btn{
  width:100%;
  font-weight:600;
  font-size:12px;
  line-height:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  border-radius:20px;
  text-align:center;
  padding:11px 0;

}
.inlineBtnCards{
  grid-area:b;
}
.orange{
  background-image:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  color:white;
  border:none
}
.white{
  background:#FFFFFF;
  border:1px solid #BFC4C9;
}
.grey{
  background:#F9F9FA;
  border:1px solid #BFC4C9;
  color:#A7A7A7;
}
