.readerWrapper{
  display:flex;
  align-items:center;
  margin-bottom:16px;
  font-weight:400;
  font-size:16px;
  line-height:24px;
  color:#727272;
  gap:24px;
}
@media(max-width:400px){
  .reader,.data{
    font-weight:400;
    font-size:15px;
    line-height:20px;
  }
  .reader{
    margin-bottom:3px;
  }
  .readerWrapper{
    display:block;
  }
  .readerWrapper img{
    float:left;
    margin-right:18px;

  }
  .text{
    font-weight:400;
    font-size:15px;
    line-height:20px;
  }
}

