.swiperStyle {
  height:595px;
}
.placePagination {
  /*padding-bottom:30px !important;*/
  /*height:228px !important;*/
}
.placePaginationSmall {
  height:290px !important;
}
.swiperStyle img {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:15px;
  border:1px solid #a7a7a7;
}
.swiperStyleThumbs {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:86px;
  margin-top:16px;
  cursor:pointer;
}
.imgWrapper img{
  width:65px;
  height:86px;
  object-fit:cover;

}
.sliderActive img {
  border:2px solid #f86c0c;
  height:86px;
  width:65px;
  object-fit:cover;

}
@media (max-width:1140px) {
  .swiperStyle {
    height:238px;
    width:136px;
    padding-bottom:40px !important;
  }
  .swiperStyle img  {
    width:136px;

  }
  .swiperStyleThumbs{
    display:none!important;
  }

}

@media (max-width:500px) {
  .swiperStyle {
    height:300px;
    width:188px;
  }
  .swiperStyle img  {
    width:188px;

  }

}

