.swiperStyle {
  overflow:hidden;
  position:relative;
  height:595px;
  transition:none;
  box-sizing:border-box;
}
.placePagination {
  /*padding-bottom:30px !important;*/
  /*height:228px !important;*/
}
.placePaginationSmall {
  height:290px !important;
}
.swiperStyle img {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:15px;
  border:1px solid #a7a7a7;
}
.swiperStyleThumbs {
  width:100%;
  height:100%;
  margin-top:16px;
  cursor:pointer;
}
.imgWrapper {
  height:86px;
  width:65px;
  position:relative;

}
.imgWrapper img {
  height:100%;
  object-fit:cover;
  position:absolute;
  top:0;
  left:0;
;
}
.sliderActive img {
  border:2px solid #f86c0c;
  height:86px;
  width:65px;
  object-fit:cover;

}

@media (max-width:940px) {
  .swiperStyle {
    padding-bottom:30px;
    height:198px;
  }
  .swiperStyle img {
    border-radius:5px;

  }
  .swiperStyleThumbs{
    display:none !important;
  }

}
@media (max-width:500px) {
  .swiperStyle {
    height:260px;
  }

}
.slideVisible {
  opacity:1;
}

